{
  "version": "0.0.1",
  "configurations": [
    {
      "name": "dev",
      "runtimeExecutable": "{{dev_executable}}",
      "runtimeArgs": ["{{dev_args}}"],
      "port": {{dev_port}}
    }
  ]
}
